<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">MTGBuilder<% if (locals.extra) { %> <span class="text-muted"><%= extra %></span><% } %></a>
    </div>
</nav>