<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/head %>
  </head>
  <body>
    <!-- Modal -->
    <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="cardModalTitle" class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <div class="container-fluid" id="cardModalContent">
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- /modal -->
    <%include partials/navbar %>
    <div class="container my-2 bg-dark">
    <div class="row">
        <div class="col">
            <form id="searchForm" action="/card">
                <div class="row">
                    <div class="input-group">
                        <input class="form-control" type="text" name="cardName" id="cardName" placeholder="Name" value="<%= query %>">
                        <select class="form-control" name="cardType" id="cardType">
                            <option selected value="-1">-- Type --</option>
                            <option value="0">Artifact</option>
                            <option value="1">Conspiracy</option>
                            <option value="2">Creature</option>
                            <option value="3">Enchantment</option>
                            <option value="4">Hero</option>
                            <option value="5">Instant</option>
                            <option value="6">Land</option>
                            <option value="7">Phenomenon</option>
                            <option value="8">Plane</option>
                            <option value="9">Planeswalker</option>
                            <option value="10">Scheme</option>
                            <option value="11">Sorcery</option>
                            <option value="12">Summon</option>
                            <option value="13">Tribal</option>
                            <option value="14">Vanguard</option>
                        </select>
                        <select name="cardSet" id="cardSet" class="form-control">
                            <option selected value="-1">-- Set --</option>
                        </select>
                        <select name="cardRarity" id="cardRarity" class="form-control">
                            <option value="-1">-- Rarity --</option>
                            <option value="0">Common</option>
                            <option value="1">Uncommon</option>
                            <option value="2">Rare</option>
                            <option value="3">Mythic Rare</option>
                        </select>
                        <div class="custom-control custom-checkbox mx-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="White">
                            <input checked type="checkbox" name="cardWhite" id="cardWhite" class="custom-control-input">
                            <label for="cardWhite" class="custom-control-label"><i class="ms ms-cost ms-shadow ms-w"></i></label>
                        </div>
                        <div class="custom-control custom-checkbox mx-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Blue">
                            <input checked type="checkbox" name="cardBlue" id="cardBlue" class="custom-control-input">
                            <label for="cardBlue" class="custom-control-label"><i class="ms ms-cost ms-shadow ms-u"></i></label>
                        </div>
                        <div class="custom-control custom-checkbox mx-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Black">
                            <input checked type="checkbox" name="cardBlack" id="cardBlack" class="custom-control-input">
                            <label for="cardBlack" class="custom-control-label"><i class="ms ms-cost ms-shadow ms-b"></i></label>
                        </div>
                        <div class="custom-control custom-checkbox mx-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Red">
                            <input checked type="checkbox" name="cardRed" id="cardRed" class="custom-control-input">
                            <label for="cardRed" class="custom-control-label"><i class="ms ms-cost ms-shadow ms-r"></i></label>
                        </div>
                        <div class="custom-control custom-checkbox mx-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Green">
                            <input checked type="checkbox" name="cardGreen" id="cardGreen" class="custom-control-input">
                            <label for="cardGreen" class="custom-control-label"><i class="ms ms-cost ms-shadow ms-g"></i></label>
                        </div>
                        <button type="submit" class="btn btn-primary">Search Cards</button>
                        <button type="reset" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Clear Search"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>Name</th>
                        <th>Type<span class="text-muted">(s)</span></th>
                        <th>Cost</th>
                        <th><span title="Power">P</span>/<span title="Toughness">T</span></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="align-middle">
                            <div class="row">
                                <div class="col text-muted" id="note">
                                    <sup><sup>&dagger;</sup></sup>Planeswalker loyalty
                                    <br>
                                    <sup>&Dagger;</sup>Split/flip/dual card
                                </div>
                                <div class="col text-center">
                                    <button class="btn btn-primary" id="btnLoadMore">Load More</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
    <span class="d-none" id="query" data-search="<%= locals.query %>"></span>
    <%include partials/top %>
    <%include partials/scripts %>
  </body>
</html>
