<!DOCTYPE html>
<html>
  <head>
    <%include partials/head %>
  </head>
  <body>
    <!-- Modal -->
    <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="cardModalTitle" class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <div class="container-fluid" id="cardModalContent">
                        Add rows here
                    </div>
                </div>
                <!-- <div class="modal-footer"></div> -->
            </div>
        </div>
    </div>
    <%include partials/navbar %>
    <div class="container my-2 bg-dark">
    <div class="row">
        <div class="col">
            <form id="searchForm" action="/card"></form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>Name</th>
                        <th>Type<span class="text-muted">(s)</span></th>
                        <th>Cost</th>
                        <th><span title="Power">P</span>/<span title="Toughness">T</span></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="align-middle">
                            <div class="row">
                                <div class="col text-muted" id="note">
                                    <sup><sup>&dagger;</sup></sup>Planeswalker loyalty
                                    <br>
                                    <sup>&Dagger;</sup>Split/flip/dual card
                                </div>
                                <div class="col text-center">
                                    <button class="btn btn-outline-primary" id="btnLoadMore" style="display: none;">Load More</button>
                                    <div class="spinner-border text-primary" role="status" id="spnLoading"></div>
                                </div>
                                <div class="col"></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
    <span class="d-none" id="query" data-search="<%= locals.query %>"></span>
    <%include partials/scripts %>
  </body>
</html>
