<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/head %>
  </head>
  <body>
    <%include partials/navbar %>
    <div class="container mt-2 bg-dark">
      <h1><%= title %></h1>
      <p>Coming soon!</p>
    </div>

    <%include partials/scripts %>
  </body>
</html>
