<%# This page is for viewing the current user's profile %>
<!DOCTYPE html>
<html>
  <head>
    <%include partials/head %>
  </head>
  <body>
    <%include partials/navbar %>
    <div class="container mt-2 bg-dark">
      <h1>Your Profile</h1>
      <p>Coming soon!</p>
    </div>

    <%include partials/scripts %>
  </body>
</html>
